!!! html
html
  head
    title NodeJS test: collaboration tool for markdown editing
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-latest.js')
  body
    div#markdown !{markdown}
    textarea#input(cols=200, rows=20)
    div#notify
      #{source}
    script
      $(function () {
        var socket = io.connect()
          , input = $('#input');
        input.keydown(function (e) {
          if (e.ctrlKey && e.which === 13) {
            socket.emit('change source', input.val());
            $('#notify').text('source changed');
          }
        }).focus();
        socket.on('refresh', function (source, md) {
          $('#markdown').html(md);
          $('#input').val(source);
        });
      });